<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.cit.api.here.com/v3/3.0/mapsjs-pano.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.cit.api.here.com/v3/3.0/mapsjs-clustering.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.cit.api.here.com/v3/3.0/mapsjs-data.js"></script>

<style type="text/css">
.log {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 200px;
  overflow: scroll;
  background: white;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
.log-entry {
  padding: 5px;
  border-bottom: 1px solid #d0d9e9;
}
.log-entry:nth-child(odd) {
    background-color: #e1e7f1;
}
</style>

</head>
<body>
  <div id="map" style="width: 100%; height: 600px; background: #412c76" />
  <script  type="text/javascript" charset="UTF-8" >


// Make route to safe zone
  function calculateRouteFromAtoB (platform, start, midpoint, finish) {
    var router = platform.getRoutingService(),
      routeRequestParams = {
        mode: 'shortest;pedestrian',
        representation: 'display',
        waypoint0: start,
        waypoint1: midpoint,
        waypoint2: finish,
        routeattributes: 'waypoints,summary,shape,legs',
        maneuverattributes: 'direction,action',
        // avoidAreas: dangerArea
      };


    router.calculateRoute(
      routeRequestParams,
      onSuccess,
      onError
    );
  }


  function onSuccess(result) {
    var route = result.response.route[0];
   /*
    * The styling of the route response on the map is entirely under the developer's control.
    * A representitive styling can be found the full JS + HTML code of this example
    * in the functions below:
    */
    addRouteShapeToMap(route);
    addManueversToMap(route);

  }

  function onError(error) {
  alert('Ooops! Demo Gods are not with you...');
}

function addRouteShapeToMap(route){
  var strip = new H.geo.Strip(),
    routeShape = route.shape,
    polyline;

  routeShape.forEach(function(point) {
    var parts = point.split(',');
    strip.pushLatLngAlt(parts[0], parts[1]);
  });

  polyline = new H.map.Polyline(strip, {
    style: {
      lineWidth: 4,
      strokeColor: 'rgba(0, 128, 255, 0.4)'
    },
    arrows: { fillColor: 'blue', frequency: 4, width: 1, length: 0.7 }
  });
  // Add the polyline to the map
  map.addObject(polyline);
  // And zoom to its bounding rectangle
   map.setViewBounds(polyline.getBounds(), true);
}

function addManueversToMap(route){
  var svgMarkup = '<svg width="18" height="18" ' +
    'xmlns="http://www.w3.org/2000/svg">' +
    '<circle cx="8" cy="8" r="8" ' +
      'fill="#1b468d" stroke="white" stroke-width=".5"  />' +
    '</svg>',
    dotIcon = new H.map.Icon(svgMarkup, {anchor: {x:8, y:8}}),
    group = new  H.map.Group(),
    i,
    j;

  // Add a marker for each maneuver
  for (i = 0;  i < route.leg.length; i += 1) {
    for (j = 0;  j < route.leg[i].maneuver.length; j += 1) {
      // Get the next maneuver.
      maneuver = route.leg[i].maneuver[j];
      // Add a marker to the maneuvers group
      var marker =  new H.map.Marker({
        lat: maneuver.position.latitude,
        lng: maneuver.position.longitude} ,
        {icon: dotIcon});
      marker.instruction = maneuver.instruction;
      group.addObject(marker);
    }
  }

  group.addEventListener('tap', function (evt) {
    map.setCenter(evt.target.getPosition());
  }, false);

  // Add the maneuvers group to the map
  map.addObject(group);
}


function setUpClickListener(map) {
  // Attach an event listener to map display
  map.addEventListener('tap', function (evt) {
    var coord = map.screenToGeo(evt.currentPointer.viewportX,
            evt.currentPointer.viewportY);
    console.log('Clicked at ' + coord.lat.toFixed(7) +
        ' ' + coord.lng.toFixed(7));
  });
}

function moveMapToWellington(map){
  map.setCenter({lat:-41.2865, lng:174.7762});
  map.setZoom(13);
}

function switchMapType(map, platform){
  var aerialMapTileService = platform.getMapTileService({
    type: 'aerial'
  });
  terrainMap = aerialMapTileService.createTileLayer(
    'maptile',
    'terrain.day',
    256,
    'png8'
  );
  map.setBaseLayer(terrainMap);
}

function addMarkerToGroup(group, coordinate, html, icon) {
  var marker = new H.map.Marker(coordinate,
         { icon: new H.map.Icon(icon)});
  // add custom data to the marker
  marker.setData(html);
  group.addObject(marker);
}

// Helper for logging events
function logEvent(evt) {
  var entry = document.createElement('li');
  entry.className = 'log-entry';
  entry.textContent = ['event "', evt.type, '" @ '+ evt.target.getData()].join('');
  logContainer.insertBefore(entry, logContainer.firstChild);
  console.log('Event')
}

// Add two markers showing safe zones
function addInfoBubble(map) {
  var group = new H.map.Group();

  map.addObject(group);

  // add 'tap' event listener, that opens info bubble, to the group
  group.addEventListener('tap', function (evt) {
    // event target is the marker itself, group is a parent event target
    // for all objects that it contains
    var bubble =  new H.ui.InfoBubble(evt.target.getPosition(), {
      // read custom data
      content: evt.target.getData()
    });
    // show info bubble
    ui.addBubble(bubble);
  }, false);

  addMarkerToGroup(group, {lat:-41.279677, lng:174.769671},
    '<div>Home Meetup<br>Family: 3 safe</div>',
    'graphics/home_2.png');

  addMarkerToGroup(group, {lat:-41.2980597, lng:174.7894716},
    '</div><div >Work Meetup<br>Workers: 232 safe</div>',
    'graphics/work_heart.png');

  addMarkerToGroup(group, {lat:-41.258218, lng:174.781406},
    '<div >Ngaio Gorge SLIP!<br>AVOID</div>',
    'graphics/warning.png');
}


// Loading GeoJSON data to the map
function showGeoJSONData (map, file, layerName, fillColour, strokeColour) {

  // Create GeoJSON reader which will download the specified file.
  // Shape of the file was obtained by using HERE Geocoder API.
  // It is possible to customize look and feel of the objects.
  var reader = new H.data.geojson.Reader(file, {
    // This function is called each time parser detects a new map object
    style: function (mapObject) {
      // We can style parsed geo objects using setStyle method like this:
      if (mapObject instanceof H.map.Polygon) {
        mapObject.setStyle({
          fillColor: fillColour,
          strokeColor: strokeColour,
          lineWidth: 3
        });
      }
    }
  });

  // Start parsing the file
  reader.parse();

  // Make layer from geojson file + name the layer
  var layer = reader.getLayer();
  layer.name=layerName;
  layer.addEventListener('tap', logEvent);

  // Add layer which shows GeoJSON data on the map
  map.addLayer(layer);
}


/**
 * Boilerplate map initialization code starts below:
 */

//Step 1: initialize communication with the platform
var platform = new H.service.Platform({
  app_id: 'nna22Ktlg8CKoncAX21A',
  app_code: 'Hh5Kpbs9vIDhdYMMmOUDEw',
  useCIT: true,
  useHTTPS: true
});
var defaultLayers = platform.createDefaultLayers();

//Step 2: initialize a map
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map,{
		center: new H.geo.Point(-41.2865, 174.7762),
        zoom: 14
  });

//Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Create the default UI components
var ui = H.ui.UI.createDefault(map, defaultLayers);

var mapSettings = ui.getControl('mapsettings');
var zoom = ui.getControl('zoom');
var scalebar = ui.getControl('scalebar');
mapSettings.setAlignment('top-left');
zoom.setAlignment('top-left');
scalebar.setAlignment('top-left');

// Display Risk Zones
showGeoJSONData(map,'/geojson/WGTN_Tsunami_RiskWGS84.geojson','Tsunami Risk','rgba(200, 0, 0, 0.2)','rgba(100, 50, 0, 0.5)');
showGeoJSONData(map,'/geojson/WGTN_FloodRisk_WGS84.geojson','Flood Risk','rgba(200, 0, 0, 0.2)','rgba(200, 100, 0, 0.5)');
// showGeoJSONData(map,'/geojson/WGTN_Combined_HazardWGS84.geojson','EQ Hazard',rgba(200, 0, 0, 0.2)','rgba(200, 100, 0, 0.2)');

// Display Safer Zones
showGeoJSONData(map,'/geojson/WGTN_SportsGroundsWGS84.geojson','Meeting Point Option','rgba(0, 200, 200, 0.9)','rgba(50, 50, 100, 0.5)');
// showGeoJSONData(map,'/geojson/WGTN_SchoolsPtsWGS.geojson','Schools',rgba(100, 200, 0, 0.1)','rgba(0, 50, 100, 0.1)');

// Add Dragable marker
// addDraggableMarker(map, behavior);

// Add example markers
addInfoBubble(map);

// Step 5: create custom logging facilities
var logContainer = document.createElement('ul');
logContainer.className ='log';
logContainer.innerHTML = '<li class="log-entry">Zone Status</li>';
map.getElement().appendChild(logContainer);



setUpClickListener(map);

var layers = map.getLayers();
console.log(layers.asArray());

// Demo route avoiding hazard
var start = '-41.277870,174.776697';
var finish = '-41.285934,174.770301';

var khandallah_finish = '-41.2497167,174.7846162';
var wadestown_midpoint = '-41.261491,174.772370';
// var ngaio_dangerArea='-41.2597492 174.7778088; -41.2605235 174.7949749';

// calculateRoute for plan 1 (Kelburn)
calculateRouteFromAtoB(platform, start, finish, finish);

//calculateRoute for plan 2 (Khandallah)
calculateRouteFromAtoB(platform, start, wadestown_midpoint, khandallah_finish);

  </script>
</body>
</html>
